<div xmlns:th="http://www.w3.org/1999/xhtml" class="moz-signature" th:fragment="template-footer"><br>
    <span style="text-align: left; color:#900; font-family:verdana;
			  font-size:12px;"><strong>Espace client RMO</strong></span><strong> <br>
        <span style="text-align: left; color:#004080;
			    font-family:verdana; font-size:12px;">Service informatique</span></strong><br>
    <span style="text-align: left; color:#666; font-family:verdana;
			  font-size:12px;">16 BP 1808 Abidjan 16 <br>
			  Poste 901 / T&eacute;l. 21 35 92 42 / Fax. 21 35 53 13</span><br>
    <span style="text-align: left; color:#900; font-family:verdana;
			  font-size:12px;"><a href="http://www.rmo-jobcenter.com/">www.rmo-jobcenter.com</a></span>
    <br>
    <br>
    <img shrinktofit="true" src="http://54.39.98.111:8080/images/signature.jpeg"
         alt="" height="121" width="567">
</div>