<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	</head>
	<body text="#000000" bgcolor="#FFFFFF">
	<p>Cher(e) <span th:text="${USER_FULLNAME}"></span>,</p>
		<p>Votre mot de passe d'acc&egrave;s &agrave; l'espace client de RMO a &eacute;t&eacute; r&eacute;-initialis&eacute;. Votre nouveau mot de passe est:</p>
		<div align="center">
			<p align="center" style="padding: 3px; background-color: #ffaca3; -moz-border-radius-topleft: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; -moz-border-radius-bottomleft: 9px; width: 150px;"><b th:text="${NEW_PASSWORD}"></b></p>
		</div>
		<p>Ce mot de passe est temporaire et vous serez oblig&eacute; de le changer.</p>
		Bien cordialement,<br>
	<th:block th:replace="email_templates/footer :: template-footer"/>
	</body>
</html>